<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>

<div class="container">
    <div th:fragment="adminPage" class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
         aria-labelledby="v-pills-admin-tab" style="padding: 1em; background-color: rgb(248, 249, 250); border-radius: 5px">
        <div>
            <div class="row">
                <div class="col-12">
                    <p class="h2">Admin panel</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <nav class="nav  nav-tabs" id="v-pills-tab" role="tablist">
                            <a class="nav-link active" id="v-pills-table-tab" data-toggle="tab" href="#nav-table"
                               role="tab" aria-controls="nav-table" aria-selected="true">Users table</a>
                            <a class="nav-link" id="v-pills-new-tab" data-toggle="tab" href="#nav-new" role="tab"
                               aria-controls="nav-new" aria-selected="false">Add</a>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade active show" id="nav-table" role="tabpanel"
                                 aria-labelledby="nav-table-tab">
                                <div th:insert="~{userApp/adminTab/showTab/showUsersTemplate :: showUsers}"></div>
                            </div>
                            <div class="tab-pane fade" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
                                <div th:insert="~{userApp/adminTab/addTab/addUserTabTemplate :: addUser}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>