<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show User</title>
</head>
<style>
    .link-button {
        background: none;
        border: none;
        color: #1a0dab;
        text-decoration: underline;
        cursor: pointer;
    }
</style>
<body>
<div th:insert="~{pageHeader :: header}"></div>
<div th:insert="~{pageMenu :: menu}"></div>
<div>
    <table th:object="${user}">
        <tr>
            <td><label>Id: </label></td>
            <td><label th:text="*{id}">id</label></td>
        </tr>
        <tr>
            <td><label>Login: </label></td>
            <td><label th:text="*{login}">login</label></td>
        </tr>
        <tr>
            <td><label>Name: </label></td>
            <td><label th:text="*{name}">name</label></td>
        </tr>
        <tr>
            <td><label>Title: </label></td>
            <td><label th:text="*{title}">title</label></td>
        </tr>
        <tr>
            <td><label>Roles: </label></td>
            <td><label th:text="*{getRolesStr()}">roles</label></td>
        </tr>
    </table>
</div>
</body>
</html>