<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    .link-button {
        background: none;
        border: none;
        color: #1a0dab;
        text-decoration: underline;
        cursor: pointer;
    }
</style>
<body>
<div>
    <h3>Hello! Welcome to this server.</h3>
    <div th:insert="~{logoutHeader :: header}"></div>
    <a href="/admin/users">User editor</a>
    <a href="/user/details">User details</a>
</div>
</body>
</html>