<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>

<div class="container">
  <div th:fragment="showUsers" class="card">
    <div class="card-header">
      All users
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Login</th>
          <th>Name</th>
          <th>Title</th>
          <th>Roles</th>
          <th style="width: 35px">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
          <td><span th:text="${user.id}"> Id </span></td>
          <td><span th:text="${user.login}"> Login </span></td>
          <td><span th:text="${user.name}"> Name </span></td>
          <td><span th:text="${user.title}"> Title </span></td>
          <td><span th:text="${user.getRolesStr()}"> Roles </span></td>
          <td style="width: 25px">
            <div style="display: flex; justify-content: space-around">
              <div th:insert="~{userApp/adminTab/editModal/userEditorModal :: editUser}"></div>
              &nbsp
              <form th:method="DELETE"
                    th:action="@{/admin/users/delete/{id}(id=${user.id})}">
                <input type="submit" value="Delete" class="btn btn-danger"/>
              </form>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>