<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div th:fragment="editUser">
        <a id="modal-edit" data-target="#modal-container-edit" role="button" th:data-id="${user.id}"
           class="btn btn-primary" data-toggle="modal">Edit</a>

        <div class="modal fade" id="modal-container-edit" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="editUserForm">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">
                                Edit user
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-8" style="display: block; margin-left: auto; margin-right: auto">
                                    <label for="id">User id: </label> <br/>
                                    <input type="text" id="id" readonly
                                           style='width: 100%; background-color: lightgoldenrodyellow'/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8" style="display: block; margin-left: auto; margin-right: auto">
                                    <label for="login">Login: </label> <br/>
                                    <input type="text" id="login" style='width: 100%'/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8" style="display: block; margin-left: auto; margin-right: auto">
                                    <label for="name">Name: </label><br/>
                                    <input type="text" id="name" style='width: 100%'/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8" style="display: block; margin-left: auto; margin-right: auto">
                                    <label for="title">Title: </label><br/>
                                    <input type="text" id="title" style='width: 100%'/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8" style="display: block; margin-left: auto; margin-right: auto">
                                    <label for="roles">Enter roles: </label> <br/>
                                    <select class="form-select" id="roles" multiple="multiple"
                                            style='width: 100%'></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8" style="display: block; margin-left: auto; margin-right: auto">
                                    <label for="password">Enter password: </label><br/>
                                    <input type="password" id="password" style='width: 100%'/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>