<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div th:fragment="userPage" class="tab-pane fade" id="v-pills-user" role="tabpanel"
         aria-labelledby="v-pills-user-tab" style="padding: 1em; background-color: rgb(248, 249, 250); border-radius: 5px">
        <div class="row">
            <div class="col-12">
                <p class="h2">User information page</p>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        About user
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" th:object="${user}">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Login</th>
                                <th>Name</th>
                                <th>Title</th>
                                <th>Roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><label th:text="*{id}">id</label></td>
                                <td><label th:text="*{login}">login</label></td>
                                <td><label th:text="*{name}">name</label></td>
                                <td><label th:text="*{title}">title</label></td>
                                <td><label th:text="*{getRolesStr()}">roles</label></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>